@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import "screens/greeting.css";
@import "screens/background.css";
@import "screens/clock.css";

.hidden {
  display: none;
}

body {
  font-family: "DynaPuff", cursive;
  color: rgb(17, 3, 3);
}
